{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
Количество новостей: {{ news|length }}
<hr>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
   </form>
<hr>
<table>
    <tr>
        <td>Название</td>
        <td>Дата</td>
        <td>Текст</td>
    </tr>
    {% for single_news in news %}
    <tr style="background-color:{% cycle 'lightblue' 'pink' %}">
        <td>{{ single_news.title }}</td>
        <td>{{ single_news.date_and_time_of_creation_post|date:'d M Y' }}</td>
        <td>{{ single_news.post_text|censor|truncatechars:20 }}</td>
    </tr>
    {% endfor %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</table>

{% endblock content %}
