{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h6> {{ single_news.title }} </h6>
<h6> {{ single_news.date_and_time_of_creation_post|date:'d M Y' }} </h6>
<h6> {{ single_news.post_text|censor }} </h6>
Рейтинг: {{ single_news.rating_of_post }}
{% if single_news.post_type == "NW" %}
<a href="{% url 'news_update' single_news.id %}"><u>Редактировать новость</u></a>
<a href="{% url 'news_delete' single_news.id %}"><u>Удалить новость</u></a>
{% endif %}
{% if single_news.post_type == "AR" %}
<a href="{% url 'article_update' single_news.id %}"><u>Редактировать статью</u></a>
<a href="{% url 'article_delete' single_news.id %}"><u>Удалить статью</u></a>
{% endif %}
{% endblock content %}